.navbar {
    border-bottom: #566473 solid 2px;
}
#signup {
    margin: 5px;
    border-color: #566473;
    background-color: #566473;
    color: #BFBFBF;
}
#login {
    margin: 5px;
    border-color: #566473;
    color: #566473;
}
#homeNavBtn,
#leaderNavBtn,
#guideNavBtn {
    color: #566473;
}
.nav-link.active {
    border-bottom: dashed #111111 2px;
}
#homeNavBtn:hover,
#leaderNavBtn:hover,
#guideNavBtn:hover {
    color: #94DD98;
    border-color: #94DD98;
}
#login:hover {
    border-color: #3B8C23;
    background-color: #f8f9fa;
    color: #3B8C23;
}
#signup:hover {
    background-color: #3B8C23;
    border-color: #3B8C23;
    color: #f8f9fa;
}